pandas==2.2.3
dspy==2.5.28
weaviate-client==4.9.3
rich==13.9.4
psutil==6.1.0
tqdm==4.67.0
fastapi[standard]==0.115.4
uvicorn[standard]==0.32.0
nest_asyncio==1.6.0
spacy==3.7.5
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0.tar.gz#egg=en_core_web_sm
