name: Publish to PyPI

on:
  release:
    types: [published]

jobs:
  build-and-publish:
    name: Build and publish to PyPI
    runs-on: ubuntu-latest
    if: github.repository_owner == 'weaviate'
    permissions:
      id-token: write
      contents: write

    environment:
      name: pypi

    steps:
      - name: Verify tag name starts with 'v'
        run: |
          if [[ ! "${{ github.event.release.tag_name }}" =~ ^v ]]; then
            echo "Release tag name '${{ github.event.release.tag_name }}' does not start with 'v'. Exiting."
            exit 1
          fi
          echo "Tag name '${{ github.event.release.tag_name }}' is valid."
      
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          persist-credentials: true
          fetch-depth: 1  

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Update version in pyproject.toml
        run: |
          TAG_VERSION="${GITHUB_REF_NAME#v}"
          echo "Setting version to $TAG_VERSION in pyproject.toml"
          # Use sed without the '' flag for Linux compatibility
          sed -i "/#replace_package_version_marker/{n;s/version *= *\"[^\"]*\"/version=\"$TAG_VERSION\"/;}" pyproject.toml
          sed -i "/# replace_package_version_marker/{n;s/__version__ *= *\"[^\"]*\"/__version__=\"$TAG_VERSION\"/;}" ./elysia/__metadata__.py

      - name: Install pypa/build
        run: >-
          python3 -m
          pip install
          build
          --user

      - name: Build a binary wheel and a source tarball
        run: python3 -m build

      - name: Store the distribution packages
        uses: actions/upload-artifact@v4
        with:
          name: python-package-distributions
          path: dist/
    
      - name: Download all the dists
        uses: actions/download-artifact@v4
        with:
          name: python-package-distributions
          path: dist/

      - name: Create test environment
        run: python -m venv test_before_pypi

      - name: Check the install
        run: |
            source test_before_pypi/bin/activate
            pip install dist/*.whl
            deactivate
            rm -rf test_before_pypi

      - name: Publish release distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/